* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: darkgrey;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

header {   
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin-left: 103px;
    margin-right: 100px;
}
.nav_elements {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    gap: 64px;
}
.button {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}
.button:hover {
    font-weight: 700;
    color:#EE6C4D;
    cursor: pointer;
    font-size: 20px;
}
.button:nth-child(1) {
    font-weight: 700;
}

/* SHARED CLASSES */
/* Button */
.interactive {
    padding: 5px 25px;
    color: white;
    border-radius: 25px;
    background-color: #EE6C4D;
    font-weight: 700;
}
.interactive:hover {
    background-color: #ff3300;
    color: rgba(250, 250, 250, 0.74);
}

.container {
    display: flex;
    flex-direction: column;
}
.black {
    font-weight: 700;
    color: #293241;
}
.orange {
    font-weight: 700;
    color: #EE6C4D;
}

/* HERO SECTION */

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 103px 155px;
}
.heroH1 {
    color: #EE6C4D;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}
p {
    font-size: 20px;
    color: #293241;
    width: 360px;
    margin-bottom: 24px;
}

/* DESTINATIONS SECTION */

.popular_destinations {
    background-image: url(assets/destinations_background.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    height: 1053px;
}
.destinationsH1 {
    color: white;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 100px;
}
.locations {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 45px;
    
}
.city {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cities {
    width: 275px;
    height: 455px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 25px;
}
.cityInfo {
    background-color: white;
    border-radius: 12px;
    width: 275px;
    margin: 5px;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out; /* add transition property */
}
.city:hover .cityInfo {
    opacity: 1;
}
.cityInfo h2 {
    color: #293241;
    size: 24px;
}
.cityInfo h3 {
    font-size: 18px;
    font-weight: 400;
}

/* ABOUT SECTION */

.about {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 680px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
}
.txt {
    margin-top: 90px;
}
.txt p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 650px;
}